root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  entrypoint = "./tmp/goonhub"
  cmd = "go build -o ./tmp/goonhub ./cmd/server"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "testdata", "web/node_modules", "web/dist", "web/.nuxt", "data"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["cmd", "internal", "pkg", "."]
  include_ext = ["go"]
  include_file = ["web.go"]
  kill_delay = "2s"
  send_interrupt = true
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = ["mkdir -p web/dist && touch web/dist/main.html"]
  rerun = false
  rerun_delay = 500
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = true

[misc]
  clean_on_exit = true

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
