# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# GoonHub specific
library.db
library.db-journal
library.db-shm
library.db-wal

# Node
node_modules/
web/node_modules/
web/.nuxt/
web/dist/
.output/
.env

# OS
.DS_Store
Thumbs.db

# Git
.gitconfig
tmp/

# Other
.vscode/
.idea/
*.log
server
/data/
*.db