# GoonHub Development Configuration (Docker)
# Used when running the full stack in Docker

environment: development

server:
  port: "8080"
  read_timeout: 0s
  write_timeout: 0s
  idle_timeout: 120s

database:
  host: localhost
  port: 5432
  user: goonhub
  password: goonhub_dev_password
  dbname: goonhub
  sslmode: disable
  max_open_conns: 25
  max_idle_conns: 5

log:
  level: debug
  format: console

auth:
  paseto_secret: "01234567890123456789012345678901"
  admin_username: admin
  admin_password: admin
  token_duration: 24h

meilisearch:
  host: "http://localhost:7700"
  api_key: "goonhub_dev_master_key"
  index_name: "videos"

processing:
  frame_interval: 10
  max_frame_dimension: 320
  max_frame_dimension_large: 1280
  frame_quality: 85
  frame_quality_lg: 85
  frame_quality_sprites: 75
  metadata_workers: 3
  thumbnail_workers: 1
  sprites_workers: 1
  thumbnail_seek: "00:00:05"
  frame_output_dir: "./data/frames"
  thumbnail_dir: "./data/thumbnails"
  sprite_dir: "./data/sprites"
  vtt_dir: "./data/vtt"
  grid_cols: 12
  grid_rows: 8
  sprites_concurrency: 4
  job_history_retention: "7d"
  metadata_timeout: 5m
  thumbnail_timeout: 2m
  sprites_timeout: 30m
